@{
    ViewBag.Baslik = "Tarnet";
}
<h2>@ViewBag.Baslik.</h2>
<h3>@ViewBag.Message</h3>
<h3>TK Holding</h3>
<h3>Tarnet</h3>
<h3>Bereket</h3>
<h3>TK Birlik</h3>
<h3> Tareks Tohumculuk</h3>
<h2>Tareks Hayvancılık</h2>
<h2>TK Lojistik</h2>
<h2>TK Yem</h2>
<h2>TK Sera</h2>
<h2>TK Lidaş</h2>
<p>deneme1223.</p>
