@{
    ViewBag.Title = "Conta";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h1>@ViewBag.Uyari</h1>
<address>
    One Mico Way<br />
    diamond, dene seri-6399<br />
    <abbr title="Phone">P:</abbr>
    sososo.333.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>